@font-face {
  font-family: "Hana";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf") format("truetype");
  font-display: swap;
}
.title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;

  font-family: "Hana";
}

.atmBox {
  width: 177px;
  height: 280px;
  margin-bottom: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  color: white;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBox {
  justify-content: center;
  align-items: center;
  background: rgba(173, 154, 95, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 65px;
  width: 390px;
  position: fixed;
  bottom: 0px;
}

.buttonContainer {
  display: flex;
  height: 90px;
  width: 390px;
  background: #008485;
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  position: fixed;
  bottom: 0px;
}
.beforebtn {
  height: 90px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  bottom: 0px;
}
.afterbtn {
  height: 90px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  bottom: 0px;
}

.ticket-bigbox {
  width: 300px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #509990;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 20px; */
  color: #fff;

  font-size: 50px;
  font-style: normal;
  font-weight: 500;
}

.send-box {
  width: 331px;
  height: 182px;
  flex-shrink: 0;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(115, 115, 115, 0.518);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  margin: 20px 0;
}
.send-box.selected {
  /* 선택된 옵션의 스타일 */
  box-sizing: border-box;
  border: 3px solid red;
}

.sendpwd-button {
  width: 80px;
  height: 80px;
  font-size: 24px; /* 원하는 폰트 크기로 조정 */
  margin: 8px; /* 원하는 마진 값으로 조정 */
  /* 그 외 스타일 속성들 */
}
