.title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atmBox {
  width: 177px;
  height: 280px;
  margin-bottom: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  color: white;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBox {
  justify-content: center;
  align-items: center;
  background: rgba(173, 154, 95, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  height: 65px;
  width: 390px;
  position: fixed;
  bottom: 0px;
}

.buttonContainer {
  display: flex;
  height: 90px;
  width: 390px;
  background: #d9d9d9;
  opacity: 0.6;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  position: fixed;
  bottom: 0px;
}
.beforebtn {
  height: 90px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  bottom: 0px;
}
.afterbtn {
  height: 90px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  bottom: 0px;
}

.ticket-bigbox {
  width: 170px;
  height: 520px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #008485;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  color: #fff;

  font-size: 50px;
  font-style: normal;
  font-weight: 500;
}

.ticket-smallbox {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}
