.App .inputForm {
  margin: 2rem;
}

.App > div {
  display: flex;
  width: 100%;
}

.result-list {
  width: 80%;
  height: 100px;
  overflow: auto;
  margin: auto;
  border: 1px solid black;
}

.h-line {
  margin-top: 5px;
  width: 100%;
  border-bottom: 2px solid #000; /* 선의 색과 두께를 지정할 수 있습니다. */
}
/* 
  .App #pagination {
    margin-top: 3rem;
  }
  
  .App #pagination a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .App #pagination a.on {
    color: lightblue;
    font-weight: bold;
  } */

.greenline {
  width: 80%;
  margin: auto;
  border: 1px solid #2b9f5e;
}
