* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

.App {
  font-family: "Arial", sans-serif;
  text-align: center;
  width: 390px;
  height: 100%;
  margin: 0 auto;
  /* margin-top: -20px; */
  background-color: white;
  /* background: #e6e6e6; */
}

/* src/App.css */

.calendar {
  border: 1px solid #ccc;
  width: 390px;
}

.header {
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: bold;
  margin-top: 40px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.day-label {
  background-color: #f0f0f0;
  padding: 5px;
  text-align: center;
}

.day {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  height: 50px;
}

.date {
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

.events {
  position: absolute;
  /* bottom: 0px; */
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: lightgreen;
}
