@font-face {
  font-family: "Hana";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

.App {
  font-family: "Hana";
  text-align: center;
  width: 390px;
  height: 100%;
  margin: 0 auto;
  /* margin-top: -20px; */
  background-color: white;
  /* background: #e6e6e6; */
}

/* src/App.css */

.calendar {
  border: 1px solid #ccc;
  width: 390px;
}

.header {
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: bold;
  margin-top: 40px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.day-label {
  background-color: #f0f0f0;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.day {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  height: 50px;
  padding-bottom: 10px;
}

.date {
  /* font-weight: bold; */
  display: block;
  font-size: 30px;
  padding-top: 10px;
}

.events {
  position: absolute;
  /* bottom: 0px; */
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: lightgreen;
}
